/**
  *	@name Shadowing
  *	@author cumzone#5911
  *	@version 1.0
  *	
*/

/*

*/

@import url('https://raw.githubusercontent.com/Tdvds/new-theme/main/new.theme.css');

:root {
  --simple-theme-bg: url(https://i.imgur.com/U7y2Gat.png);
  --simple-theme-home-icon: url(https://i.imgur.com/usarxNk.png);
  --simple-theme-color1: #6b106e;
  --simple-theme-color2: #9c9c9c;
  --simple-theme-color3: #6b106e;
  --simple-theme-color4: #ffffff;
  --simple-theme-color5: #6b286d;
  --simple-theme-color6: #99129d;
  --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 50%;
  --watermark-filter-saturate: 3000%;
  --watermark-filter-hue-rotate: 150deg;
  --watermark-filter-brightness: 100%;
  --watermark-filter-contrast: 200%;
  --simple-theme-emoji-picker-color: 150deg;
}


/* 6b286d  */
